*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#card {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;

  width: 200px;
  color: blue;
}
#search-bar {
  width: 100%;
  border-radius: 10px;
  border: 1px solid;
  height: 30px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 20px;
  padding: 20px;
}
.images {
  width: 100px;
  height: 100px;
}
.rating-bar {
  /* width: 100%; */
  height: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(26, 189, 26);
}

.ratingsClr {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(194, 255, 166);
}

.searching-bar {

width: 80%;
  background-color: rgb(171, 248, 242);
 
  border-radius: 10px;
  /* visibility: hidden; */
}
.searching-bar:hover {
  cursor: pointer;
  /* background-color: rgb(250, 250, 250); */
  /* color: red; */
}


.p-5{
    padding: 10px 20px;
}
.overlap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}