#card {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;

  width: 200px;
  color: blue;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 20px;
}
.images {
  width: 100px;
  height: 100px;
}
.rating-bar {
  /* width: 100%; */
  height: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(26, 189, 26);
  /* background-color: rgb(19, 168, 19); */
}

.ratingsClr {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(194, 255, 166);
}
