* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#card {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;

  width: 200px;
  color: blue;
}
#root {
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: cover;
  gap: 20px;
  padding: 20px;
}
.images {
  width: 100px;
  height: 100px;
}
.rating-bar {
  /* width: 100%; */
  height: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(26, 189, 26);
}

.ratingsClr {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(194, 255, 166);
}
#search-bar {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  height: 20px;
  padding: 10px;
}

.p-5 {
  padding: 10px 20px;
}

.search-container {
  margin: 50px;
  position: relative;
}
.search-container:focus-within #search-result {
  display: block;
}

#search-result {
  padding: 10px;
  width: 100%;
  display: none;
  position: absolute;
  box-shadow: 0px 0px 5px 0px rgb(173, 173, 173);
  /* visibility: hidden; */
  border-radius: 10px;
  background-color: white;
}
